<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Book Details</h1>
    <a href="/books/new">Add Books</a>

    <section>
      <div>
        <h2><%= book.title %></h2>
        <p><%= book.description %></p>
        <p><%= book.author %></p>
        <h3>Price: <%= book.price %></h3>
        <a href="/books/<%= book._id %>">
          <button>Show</button>
        </a>
      </div>
    </section>
  </body>
</html>
